<div class="navbar " id="navbar">
    <div class="navbar-inner" id="navbarTopAlign">
        <div class="container">
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="#">COMET<img id="cometLogoSizer" src="img/cometLogo.png" alt="Logo"></a>
            <!--This is the search bar in the menu-->
            <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
            </form>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <ul class="nav pull-right">
                <li class="active"><a href="#/view1">DashBoard</a></li>
                <li><a href="#/view2">Advanced Search</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Connor Horstman
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">Setups</a></li>
                        <li><a href="">Partner Hub</a></li>
                        <li><a href="">Configure</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>