<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 well"></div>
        <div class="span4 well"></div>
        <div class="span4 well"></div>
    </div>
</div>


<div class="container-fluid">
    <div class="navbar  navbar-fixed-bottom " id="footerSizing">
        <div class="navbar-inner" >
            <div class="container">
                <button class="btn btn-primary pull-left"><i style="padding-right:5px; font-size: 16px;" class="icon-cloud-upload"></i>Add Widget</button>
            </div>
        </div>
    </div>
</div>
